<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1068827681619-7p8j7jcibnn85m5strg0i5sn4n5qj3db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068827681619-7p8j7jcibnn85m5strg0i5sn4n5qj3db</string>
	<key>API_KEY</key>
	<string>AIzaSyAhYEYhH1_E8x2y8_kDrmS7Cxi7vPX8XaM</string>
	<key>GCM_SENDER_ID</key>
	<string>1068827681619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-7d91d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-7d91d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068827681619:ios:5a11ce0f79b56d5b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-notification-7d91d.firebaseio.com</string>
</dict>
</plist>